form{
    width: 500px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input, textarea, select{
    display: block;
    margin-top: 10px;
}