nav{
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0px 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav a:hover{
    transition: 0.5s;
    color: forestgreen;
}

.activate{
    background-color: black;
    border-radius: 5px;
    color: forestgreen;
}